.restorePassword {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.restorePassword__cover {
  width: 480px;
  margin-top: 180px;
}

.restorePassword__title {
  text-align: center;
}

.restorePassword__form {
  display: flex;
  flex-direction: column;
}

.restorePassword__inputCover :global(.input_size_default),
.restorePassword__inputCover :global(.input__container) {
  width: 100%;
}

.restorePassword__buttonCover {
  align-self: center;
}

.restorePassword__text {
  color: #8585ad;
  text-align: center;
}

.restorePassword__link{
  color: #4c4cff;
  text-decoration: none;
}

.restorePassword__link:hover {
  cursor: pointer;
  opacity: .8;
}
