.link {
  text-decoration: none;
  color: #f2f2f3;
}

.ingredient {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.ingredient:hover {
  cursor: pointer;
}

.ingredient__cover {
  display: flex;
}

.ingredient__price {
  text-align: center;
}

.ingredient__title {
  max-width: 272px;
  min-height: 48px;
  text-align: center;
}
