.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c21;
}

.header__navigation {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  transition: .1s;
  text-decoration: none;
}

.header__button:hover {
  cursor: pointer;
  opacity: .8;
}

.header__button_form_oval {
  border-radius: 40px;
}

.header__buttonText {
  color: #8585ad;
}

.header__buttonText_active {
  color: #f2f2f3;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
  text-decoration: none;
}

.header__logo:hover {
  cursor: pointer;
  opacity: .8;
}

.header__buttonLogo {
  border: none;
  padding: 0;
  display: none;
  background: none;
  transition: .1s;
}

.header__buttonLogo:hover {
  cursor: pointer;
  opacity: .8;
}

.header__buttonMenu {
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;
  transition: .1s;
}

.header__buttonMenu:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 980px) {
  .header__cover {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__logo {
    margin-left: 20px;
  }

  .header__buttonMenu {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .header__navigation {
    justify-content: center;
  }

  .header__logo {
    display: none;
  }

  .header__buttonLogo {
    display: block;
  }

  .header__buttonMenu {
    display: none;
  }
}
