.pageArea {
  background-color: #131316;
}

.pageArea__alignment {
  margin: 0 auto;
}

.page {
  box-sizing: border-box;
  background-color: #131316;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
